<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OmsOrderMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.OmsOrder">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="memberId" column="member_id" jdbcType="BIGINT"/>
        <result property="productId" column="product_id" jdbcType="BIGINT"/>
        <result property="orderSn" column="order_sn" jdbcType="VARCHAR"/>
        <result property="memberName" column="member_name" jdbcType="VARCHAR"/>
        <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
        <result property="payAmount" column="pay_amount" jdbcType="DECIMAL"/>
        <result property="freightAmount" column="freight_amount" jdbcType="DECIMAL"/>
        <result property="integrationAmount" column="integration_amount" jdbcType="DECIMAL"/>
        <result property="couponAmount" column="coupon_amount" jdbcType="DECIMAL"/>
        <result property="payType" column="pay_type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
        <result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
        <result property="receiverDetailAddress" column="receiver_detail_address" jdbcType="VARCHAR"/>
        <result property="confirmStatus" column="confirm_status" jdbcType="INTEGER"/>
        <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
        <result property="commentTime" column="comment_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, member_id, product_id, order_sn, member_name, total_amount, pay_amount, freight_amount, integration_amount, coupon_amount, pay_type, status, receiver_name, receiver_phone, receiver_detail_address, confirm_status, payment_time, comment_time, remark, gmt_create, creator, gmt_modified, modifier, is_delete
    </sql>

    <sql id="queryCondition">
        <if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
        <if test="memberId != null">and member_id = #{memberId,jdbcType=BIGINT}</if>
        <if test="productId != null">and product_id = #{productId,jdbcType=BIGINT}</if>
        <if test="orderSn != null">and order_sn = #{orderSn,jdbcType=VARCHAR}</if>
        <if test="memberName != null">and member_name = #{memberName,jdbcType=VARCHAR}</if>
        <if test="totalAmount != null">and total_amount = #{totalAmount,jdbcType=DECIMAL}</if>
        <if test="payAmount != null">and pay_amount = #{payAmount,jdbcType=DECIMAL}</if>
        <if test="freightAmount != null">and freight_amount = #{freightAmount,jdbcType=DECIMAL}</if>
        <if test="integrationAmount != null">and integration_amount = #{integrationAmount,jdbcType=DECIMAL}</if>
        <if test="couponAmount != null">and coupon_amount = #{couponAmount,jdbcType=DECIMAL}</if>
        <if test="payType != null">and pay_type = #{payType,jdbcType=VARCHAR}</if>
        <if test="status != null">and status = #{status,jdbcType=INTEGER}</if>
        <if test="receiverName != null">and receiver_name = #{receiverName,jdbcType=VARCHAR}</if>
        <if test="receiverPhone != null">and receiver_phone = #{receiverPhone,jdbcType=VARCHAR}</if>
        <if test="receiverDetailAddress != null">and receiver_detail_address = #{receiverDetailAddress,jdbcType=VARCHAR}</if>
        <if test="confirmStatus != null">and confirm_status = #{confirmStatus,jdbcType=INTEGER}</if>
        <if test="paymentTime != null">and payment_time = #{paymentTime,jdbcType=TIMESTAMP}</if>
        <if test="commentTime != null">and comment_time = #{commentTime,jdbcType=TIMESTAMP}</if>
        <if test="remark != null">and remark = #{remark,jdbcType=VARCHAR}</if>
        <if test="gmtCreate != null">and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}</if>
        <if test="creator != null">and creator = #{creator,jdbcType=VARCHAR}</if>
        <if test="gmtModified != null">and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}</if>
        <if test="modifier != null">and modifier = #{modifier,jdbcType=VARCHAR}</if>
        <if test="isDelete != null">and is_delete = #{isDelete,jdbcType=TINYINT}</if>
    </sql>

    <insert id="saveOmsOrder" keyColumn="id" keyProperty="id" parameterType="com.example.demo.entity.OmsOrder" useGeneratedKeys="true">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO oms_order (id, member_id, product_id, order_sn, member_name, total_amount, pay_amount, freight_amount, integration_amount, coupon_amount, pay_type, status, receiver_name, receiver_phone, receiver_detail_address, confirm_status, payment_time, comment_time, remark, gmt_create, creator, gmt_modified, modifier, is_delete)
        VALUES (
            #{id,jdbcType=BIGINT},
            #{memberId,jdbcType=BIGINT},
            #{productId,jdbcType=BIGINT},
            #{orderSn,jdbcType=VARCHAR},
            #{memberName,jdbcType=VARCHAR},
            #{totalAmount,jdbcType=DECIMAL},
            #{payAmount,jdbcType=DECIMAL},
            #{freightAmount,jdbcType=DECIMAL},
            #{integrationAmount,jdbcType=DECIMAL},
            #{couponAmount,jdbcType=DECIMAL},
            #{payType,jdbcType=VARCHAR},
            #{status,jdbcType=INTEGER},
            #{receiverName,jdbcType=VARCHAR},
            #{receiverPhone,jdbcType=VARCHAR},
            #{receiverDetailAddress,jdbcType=VARCHAR},
            #{confirmStatus,jdbcType=INTEGER},
            #{paymentTime,jdbcType=TIMESTAMP},
            #{commentTime,jdbcType=TIMESTAMP},
            #{remark,jdbcType=VARCHAR},
            #{gmtCreate,jdbcType=TIMESTAMP},
            #{creator,jdbcType=VARCHAR},
            #{gmtModified,jdbcType=TIMESTAMP},
            #{modifier,jdbcType=VARCHAR},
            #{isDelete,jdbcType=TINYINT}
        )
    </insert>

    <select id="getOmsOrderById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM oms_order
        WHERE id = #{id,jdbcType=BIGINT} 
    </select>

    <select id="getOmsOrders" parameterType="com.example.demo.entity.OmsOrder" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM oms_order
        <where>
            <include refid="queryCondition"></include>
        </where>
    </select>
    
    <delete id="deleteOmsOrders" parameterType="java.util.List">
        DELETE FROM oms_order
        <where>
         id IN
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>

    <update id="updateOmsOrder" parameterType="com.example.demo.entity.OmsOrder">
        UPDATE oms_order
        <set>
            <if test="memberId != null">member_id = #{memberId,jdbcType=BIGINT},</if>
            <if test="productId != null">product_id = #{productId,jdbcType=BIGINT},</if>
            <if test="orderSn != null">order_sn = #{orderSn,jdbcType=VARCHAR},</if>
            <if test="memberName != null">member_name = #{memberName,jdbcType=VARCHAR},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount,jdbcType=DECIMAL},</if>
            <if test="payAmount != null">pay_amount = #{payAmount,jdbcType=DECIMAL},</if>
            <if test="freightAmount != null">freight_amount = #{freightAmount,jdbcType=DECIMAL},</if>
            <if test="integrationAmount != null">integration_amount = #{integrationAmount,jdbcType=DECIMAL},</if>
            <if test="couponAmount != null">coupon_amount = #{couponAmount,jdbcType=DECIMAL},</if>
            <if test="payType != null">pay_type = #{payType,jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
            <if test="receiverName != null">receiver_name = #{receiverName,jdbcType=VARCHAR},</if>
            <if test="receiverPhone != null">receiver_phone = #{receiverPhone,jdbcType=VARCHAR},</if>
            <if test="receiverDetailAddress != null">receiver_detail_address = #{receiverDetailAddress,jdbcType=VARCHAR},</if>
            <if test="confirmStatus != null">confirm_status = #{confirmStatus,jdbcType=INTEGER},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime,jdbcType=TIMESTAMP},</if>
            <if test="commentTime != null">comment_time = #{commentTime,jdbcType=TIMESTAMP},</if>
            <if test="remark != null">remark = #{remark,jdbcType=VARCHAR},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},</if>
            <if test="creator != null">creator = #{creator,jdbcType=VARCHAR},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},</if>
            <if test="modifier != null">modifier = #{modifier,jdbcType=VARCHAR},</if>
            <if test="isDelete != null">is_delete = #{isDelete,jdbcType=TINYINT},</if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT} 
    </update>
    
    <select id="countOmsOrder" parameterType="com.example.demo.entity.OmsOrder" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM oms_order
        <where>
            <include refid="queryCondition"></include>
        </where>
    </select>
</mapper>
